body{
    padding: 30px;
}
form {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

form label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: grey;
    color: white;
    text-align: center;
}

/* Button Styling */
button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}
